.main{
    height:97vh;
    width: 98vw;
    display: grid;
    grid-template-columns:0.5fr 9.5fr ;
    grid-template-rows:9fr 1.2fr;
    grid-gap:0px;
}
.top,.bottom,.left{
    border: 1px solid black;
}
.bottom{
    grid-column:2/3 ;
}
.left{
    grid-row: 1/3;
}
body{
    background-color: rgb(87, 87, 87);
}